src/main/java/cz/muni/fi/pb138/log4jtoxml/resources/config.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:element name="Configuration" type="ConfigurationType"/>
    <xs:complexType name="ConfigurationType">
        <xs:sequence>
            <xs:element name="CustomLevels" type="CustomLevelsType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="Properties" type="PropertiesType" minOccurs="0" maxOccurs="1"/>
            <xs:choice minOccurs="0" maxOccurs="1">
                <xs:sequence>
                    <xs:element name="Filters" type="FiltersType" minOccurs="0" maxOccurs="1"/>
                </xs:sequence>
                <xs:choice minOccurs="0" maxOccurs="1">
                    <xs:element name="BurstFilter" type="BurstFilterType"/>
                    <xs:element name="DynamicThresholdFilter" type="DynamicThresholdFilterType"/>
                    <xs:element name="MapFilter" type="MapFilterType"/>
                    <xs:element name="MarkerFilter" type="MarkerFilterType"/>
                    <xs:element name="RegexFilter" type="RegexFilterType"/>
                    <xs:element name="ScriptFilter" type="ScriptFilterType"/>
                    <xs:element name="StructuredDataFilter" type="StructuredDataFilterType"/>
                    <xs:element name="ThreadContextMapFilter" type="ThreadContextMapFilterType"/>
                    <xs:element name="ThresholdFilter" type="ThresholdFilterType"/>
                    <xs:element name="TimeFilter" type="TimeFilterType"/>
                </xs:choice>
            </xs:choice>
            <xs:element name="Appenders" type="AppendersType"/>
            <xs:element name="Loggers" type="LoggersType"/>
        </xs:sequence>
        <xs:attribute name="advertiser" type="xs:string"/>
        <xs:attribute name="dest" type="xs:string"/>
        <xs:attribute name="monitorInterval" type="xs:integer"/>
        <xs:attribute name="name" type="xs:string"/>
        <xs:attribute name="packages" type="xs:string"/>
        <xs:attribute name="schema" type="xs:string"/>
        <xs:attribute name="shutdownHook" type="xs:string"/>
        <xs:attribute name="status" type="xs:string"/>
        <xs:attribute name="strict" type="xs:string"/>
        <xs:attribute name="verbose" type="xs:string"/>
    </xs:complexType>
    <!--Appender types section-->
    <!--Appenders type, global-->
    <xs:complexType name="AppendersType">
        <xs:sequence>
            <xs:element name="Async" type="AsyncAppenderType" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="Console" type="ConsoleAppenderType" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="Failover" type="FailoverAppenderType" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="File" type="FileAppenderType" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="Flume" type="FlumeAppenderType" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="JDBC" type="JDBCAppenderType" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="JMS" type="JMSAppenderType" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="JPA" type="JPAAppenderType" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="Kafka" type="KafkaAppenderType" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="MemoryMappedFile" type="MemoryMappedFileAppenderType" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="NoSQL" type="NoSQLAppenderType" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="RandomAccessFile" type="RandomAccessFileAppenderType" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="Rewrite" type="RewriteAppenderType" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="RolingFile" type="RolingFileAppenderType" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="Socket" type="SocketAppenderType" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="STMP" type="STMPAppenderType" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="Syslog" type="SyslogAppenderType" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="JeroMQ" type="JeroMQAppenderType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <!--AsyncAppender type-->
    <xs:complexType name="AsyncAppenderType">
        <xs:sequence>
            <xs:choice minOccurs="0" maxOccurs="1">
                <xs:sequence>
                    <xs:element name="Filters" type="FiltersType" minOccurs="0" maxOccurs="1"/>
                </xs:sequence>
                <xs:choice minOccurs="0" maxOccurs="1">
                    <xs:element name="BurstFilter" type="BurstFilterType"/>
                    <xs:element name="DynamicThresholdFilter" type="DynamicThresholdFilterType"/>
                    <xs:element name="MapFilter" type="MapFilterType"/>
                    <xs:element name="MarkerFilter" type="MarkerFilterType"/>
                    <xs:element name="RegexFilter" type="RegexFilterType"/>
                    <xs:element name="ScriptFilter" type="ScriptFilterType"/>
                    <xs:element name="StructuredDataFilter" type="StructuredDataFilterType"/>
                    <xs:element name="ThreadContextMapFilter" type="ThreadContextMapFilterType"/>
                    <xs:element name="ThresholdFilter" type="ThresholdFilterType"/>
                    <xs:element name="TimeFilter" type="TimeFilterType"/>
                </xs:choice>
            </xs:choice>
            <xs:element name="AppenderRef" type="AppenderRefType"/>
        </xs:sequence>
        <xs:attribute name="name" type="xs:string" use="required"/>
        <xs:attribute name="blocking" type="xs:boolean" use="optional"/>
        <xs:attribute name="shutdownTimeout" type="xs:integer" use="optional"/>
        <xs:attribute name="bufferSize" type="xs:integer" use="optional"/>
        <xs:attribute name="errorRef" type="xs:string" use="optional"/>
        <xs:attribute name="ignoreExceptions" type="xs:boolean" use="optional"/>
        <xs:attribute name="includeLocation" type="xs:boolean" use="optional"/>
    </xs:complexType>
    <!--ConsoleAppender type-->
    <xs:complexType name="ConsoleAppenderType">
        <xs:sequence>
            <xs:choice minOccurs="0" maxOccurs="1">
                <xs:sequence>
                    <xs:element name="Filters" type="FiltersType" minOccurs="0" maxOccurs="1"/>
                </xs:sequence>
                <xs:choice minOccurs="0" maxOccurs="1">
                    <xs:element name="BurstFilter" type="BurstFilterType"/>
                    <xs:element name="DynamicThresholdFilter" type="DynamicThresholdFilterType"/>
                    <xs:element name="MapFilter" type="MapFilterType"/>
                    <xs:element name="MarkerFilter" type="MarkerFilterType"/>
                    <xs:element name="RegexFilter" type="RegexFilterType"/>
                    <xs:element name="ScriptFilter" type="ScriptFilterType"/>
                    <xs:element name="StructuredDataFilter" type="StructuredDataFilterType"/>
                    <xs:element name="ThreadContextMapFilter" type="ThreadContextMapFilterType"/>
                    <xs:element name="ThresholdFilter" type="ThresholdFilterType"/>
                    <xs:element name="TimeFilter" type="TimeFilterType"/>
                </xs:choice>
            </xs:choice>
            <xs:choice minOccurs="0" maxOccurs="1">
                <xs:element name="GelfLayout" type="GelfLayoutType"/>
                <xs:element name="HTMLLayout" type="HTMLLayoutType"/>
                <xs:element name="JSONLayout" type="JSONLayoutType"/>
                <xs:element name="PatternLayout" type="PatternLayoutType"/>
                <xs:element name="RFC5424Layout" type="RFC5424LayoutType"/>
                <xs:element name="SyslogLayout" type="SyslogLayoutType"/>
                <xs:element name="XMLLayout" type="XMLLayoutType"/>
            </xs:choice>
        </xs:sequence>
        <xs:attribute name="name" type="xs:string" use="required"/>
        <xs:attribute name="follow" type="xs:boolean" use="optional"/>
        <xs:attribute name="ignoreExceptions" type="xs:boolean" use="optional"/>
        <xs:attribute name="target" type="TargetType" use="optional"/>
    </xs:complexType>
    <!--FailoverAppender type-->
    <xs:complexType name="FailoverAppenderType">
        <xs:sequence>
            <xs:choice minOccurs="0" maxOccurs="1">
                <xs:sequence>
                    <xs:element name="Filters" type="FiltersType" minOccurs="0" maxOccurs="1"/>
                </xs:sequence>
                <xs:choice minOccurs="0" maxOccurs="1">
                    <xs:element name="BurstFilter" type="BurstFilterType"/>
                    <xs:element name="DynamicThresholdFilter" type="DynamicThresholdFilterType"/>
                    <xs:element name="MapFilter" type="MapFilterType"/>
                    <xs:element name="MarkerFilter" type="MarkerFilterType"/>
                    <xs:element name="RegexFilter" type="RegexFilterType"/>
                    <xs:element name="ScriptFilter" type="ScriptFilterType"/>
                    <xs:element name="StructuredDataFilter" type="StructuredDataFilterType"/>
                    <xs:element name="ThreadContextMapFilter" type="ThreadContextMapFilterType"/>
                    <xs:element name="ThresholdFilter" type="ThresholdFilterType"/>
                    <xs:element name="TimeFilter" type="TimeFilterType"/>
                </xs:choice>
            </xs:choice>
            <xs:element name="Failovers" type="FailoversType"/>
        </xs:sequence>
        <xs:attribute name="name" type="xs:string" use="required"/>
        <xs:attribute name="primary" type="xs:string" use="required"/>
        <xs:attribute name="retryIntervalSeconds" type="xs:integer" use="optional"/>
        <xs:attribute name="ignoreExceptions" type="xs:boolean" use="optional"/>
        <xs:attribute name="target" type="TargetType" use="optional"/>
    </xs:complexType>
    <!--FileAppender type-->
    <xs:complexType name="FileAppenderType">
        <xs:sequence>
            <xs:choice minOccurs="0" maxOccurs="1">
                <xs:sequence>
                    <xs:element name="Filters" type="FiltersType" minOccurs="0" maxOccurs="1"/>
                </xs:sequence>
                <xs:choice minOccurs="0" maxOccurs="1">
                    <xs:element name="BurstFilter" type="BurstFilterType"/>
                    <xs:element name="DynamicThresholdFilter" type="DynamicThresholdFilterType"/>
                    <xs:element name="MapFilter" type="MapFilterType"/>
                    <xs:element name="MarkerFilter" type="MarkerFilterType"/>
                    <xs:element name="RegexFilter" type="RegexFilterType"/>
                    <xs:element name="ScriptFilter" type="ScriptFilterType"/>
                    <xs:element name="StructuredDataFilter" type="StructuredDataFilterType"/>
                    <xs:element name="ThreadContextMapFilter" type="ThreadContextMapFilterType"/>
                    <xs:element name="ThresholdFilter" type="ThresholdFilterType"/>
                    <xs:element name="TimeFilter" type="TimeFilterType"/>
                </xs:choice>
            </xs:choice>
            <xs:choice minOccurs="0" maxOccurs="1">
                <xs:element name="GelfLayout" type="GelfLayoutType"/>
                <xs:element name="HTMLLayout" type="HTMLLayoutType"/>
                <xs:element name="JSONLayout" type="JSONLayoutType"/>
                <xs:element name="PatternLayout" type="PatternLayoutType"/>
                <xs:element name="RFC5424Layout" type="RFC5424LayoutType"/>
                <xs:element name="SyslogLayout" type="SyslogLayoutType"/>
                <xs:element name="XMLLayout" type="XMLLayoutType"/>
            </xs:choice>
        </xs:sequence>
        <xs:attribute name="name" type="xs:string" use="required"/>
        <xs:attribute name="fileName" type="xs:string" use="required"/>
        <xs:attribute name="append" type="xs:boolean" use="optional"/>
        <xs:attribute name="bufferedIO" type="xs:boolean" use="optional"/>
        <xs:attribute name="bufferSize" type="xs:integer" use="optional"/>
        <xs:attribute name="immediateFlush" type="xs:boolean" use="optional"/>
        <xs:attribute name="locking" type="xs:boolean" use="optional"/>
        <xs:attribute name="ignoreExceptions" type="xs:boolean" use="optional"/>
    </xs:complexType>
    <!--FlumeAppender type-->
    <xs:complexType name="FlumeAppenderType">
        <xs:sequence>
            <xs:element name="Agent" type="AgentType" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="Property" type="PropertyType" minOccurs="0" maxOccurs="unbounded"/>
            <xs:choice minOccurs="0" maxOccurs="1">
                <xs:sequence>
                    <xs:element name="Filters" type="FiltersType" minOccurs="0" maxOccurs="1"/>
                </xs:sequence>
                <xs:choice minOccurs="0" maxOccurs="1">
                    <xs:element name="BurstFilter" type="BurstFilterType"/>
                    <xs:element name="DynamicThresholdFilter" type="DynamicThresholdFilterType"/>
                    <xs:element name="MapFilter" type="MapFilterType"/>
                    <xs:element name="MarkerFilter" type="MarkerFilterType"/>
                    <xs:element name="RegexFilter" type="RegexFilterType"/>
                    <xs:element name="ScriptFilter" type="ScriptFilterType"/>
                    <xs:element name="StructuredDataFilter" type="StructuredDataFilterType"/>
                    <xs:element name="ThreadContextMapFilter" type="ThreadContextMapFilterType"/>
                    <xs:element name="ThresholdFilter" type="ThresholdFilterType"/>
                    <xs:element name="TimeFilter" type="TimeFilterType"/>
                </xs:choice>
            </xs:choice>
            <xs:choice minOccurs="0" maxOccurs="1">
                <xs:element name="GelfLayout" type="GelfLayoutType"/>
                <xs:element name="HTMLLayout" type="HTMLLayoutType"/>
                <xs:element name="JSONLayout" type="JSONLayoutType"/>
                <xs:element name="PatternLayout" type="PatternLayoutType"/>
                <xs:element name="RFC5424Layout" type="RFC5424LayoutType"/>
                <xs:element name="SyslogLayout" type="SyslogLayoutType"/>
                <xs:element name="XMLLayout" type="XMLLayoutType"/>
            </xs:choice>
        </xs:sequence>
        <xs:attribute name="name" type="xs:string" use="required"/>
        <xs:attribute name="agentRetries" type="xs:integer" use="optional"/>
        <xs:attribute name="batchSize" type="xs:integer" use="optional"/>
        <xs:attribute name="compress" type="xs:boolean" use="optional"/>
        <xs:attribute name="connectTimeoutMillis" type="xs:integer" use="optional"/>
        <xs:attribute name="dataDir" type="xs:string" use="optional"/>
        <xs:attribute name="eventPrefix" type="xs:string" use="optional"/>
        <xs:attribute name="lockTimeoutRetries" type="xs:integer" use="optional"/>
        <xs:attribute name="maxDelayMillis" type="xs:integer" use="optional"/>
        <xs:attribute name="mdcExcludes" type="xs:string" use="optional"/>
        <xs:attribute name="mdcIncludes" type="xs:string" use="optional"/>
        <xs:attribute name="mdcPrefix" type="xs:string" use="optional"/>
        <xs:attribute name="requestTimeoutMillis" type="xs:integer" use="optional"/>
        <xs:attribute name="type" type="FlumetypeType" use="optional"/>
    </xs:complexType>
    <!--JDBCAppender type-->
    <xs:complexType name="JDBCAppenderType">
        <xs:sequence>
            <xs:choice minOccurs="0" maxOccurs="1">
                <xs:sequence>
                    <xs:element name="Filters" type="FiltersType" minOccurs="0" maxOccurs="1"/>
                </xs:sequence>
                <xs:choice minOccurs="0" maxOccurs="1">
                    <xs:element name="BurstFilter" type="BurstFilterType"/>
                    <xs:element name="DynamicThresholdFilter" type="DynamicThresholdFilterType"/>
                    <xs:element name="MapFilter" type="MapFilterType"/>
                    <xs:element name="MarkerFilter" type="MarkerFilterType"/>
                    <xs:element name="RegexFilter" type="RegexFilterType"/>
                    <xs:element name="ScriptFilter" type="ScriptFilterType"/>
                    <xs:element name="StructuredDataFilter" type="StructuredDataFilterType"/>
                    <xs:element name="ThreadContextMapFilter" type="ThreadContextMapFilterType"/>
                    <xs:element name="ThresholdFilter" type="ThresholdFilterType"/>
                    <xs:element name="TimeFilter" type="TimeFilterType"/>
                </xs:choice>
            </xs:choice>
            <xs:element name="ConnectionFactory" type="ConnectionFactoryType"/>
            <xs:element name="DataSource" type="DataSourceType"/>
            <xs:element name="Column" type="ColumnType" minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="name" type="xs:string" use="required"/>
        <xs:attribute name="bufferSize" type="xs:integer" use="optional"/>
        <xs:attribute name="ignoreExceptions" type="xs:boolean" use="optional"/>
        <xs:attribute name="tableName" type="xs:string" use="required"/>
    </xs:complexType>
    <!--JMSAppender type-->
    <xs:complexType name="JMSAppenderType">
        <xs:sequence>
            <xs:choice minOccurs="0" maxOccurs="1">
                <xs:sequence>
                    <xs:element name="Filters" type="FiltersType" minOccurs="0" maxOccurs="1"/>
                </xs:sequence>
                <xs:choice minOccurs="0" maxOccurs="1">
                    <xs:element name="BurstFilter" type="BurstFilterType"/>
                    <xs:element name="DynamicThresholdFilter" type="DynamicThresholdFilterType"/>
                    <xs:element name="MapFilter" type="MapFilterType"/>
                    <xs:element name="MarkerFilter" type="MarkerFilterType"/>
                    <xs:element name="RegexFilter" type="RegexFilterType"/>
                    <xs:element name="ScriptFilter" type="ScriptFilterType"/>
                    <xs:element name="StructuredDataFilter" type="StructuredDataFilterType"/>
                    <xs:element name="ThreadContextMapFilter" type="ThreadContextMapFilterType"/>
                    <xs:element name="ThresholdFilter" type="ThresholdFilterType"/>
                    <xs:element name="TimeFilter" type="TimeFilterType"/>
                </xs:choice>
            </xs:choice>
            <xs:choice minOccurs="0" maxOccurs="1">
                <xs:element name="GelfLayout" type="GelfLayoutType"/>
                <xs:element name="HTMLLayout" type="HTMLLayoutType"/>
                <xs:element name="JSONLayout" type="JSONLayoutType"/>
                <xs:element name="PatternLayout" type="PatternLayoutType"/>
                <xs:element name="RFC5424Layout" type="RFC5424LayoutType"/>
                <xs:element name="SyslogLayout" type="SyslogLayoutType"/>
                <xs:element name="XMLLayout" type="XMLLayoutType"/>
            </xs:choice>
        </xs:sequence>
        <xs:attribute name="name" type="xs:string" use="required"/>
        <xs:attribute name="factoryBindingName" type="xs:string" use="optional"/>
        <xs:attribute name="factoryName" type="xs:string" use="optional"/>
        <xs:attribute name="password" type="xs:string" use="optional"/>
        <xs:attribute name="providerURL" type="xs:string" use="optional"/>
        <xs:attribute name="destinationBindingName" type="xs:string" use="optional"/>
        <xs:attribute name="securityPrincipalName" type="xs:string" use="optional"/>
        <xs:attribute name="securityCredentials" type="xs:string" use="optional"/>
        <xs:attribute name="ignoreExceptions" type="xs:boolean" use="optional"/>
        <xs:attribute name="urlPkgPrefixes" type="xs:string" use="optional"/>
        <xs:attribute name="userName" type="xs:string" use="optional"/>
    </xs:complexType>
    <!--JPAApender type-->
    <xs:complexType name="JPAAppenderType">
        <xs:sequence>
            <xs:choice minOccurs="0" maxOccurs="1">
                <xs:sequence>
                    <xs:element name="Filters" type="FiltersType" minOccurs="0" maxOccurs="1"/>
                </xs:sequence>
                <xs:choice minOccurs="0" maxOccurs="1">
                    <xs:element name="BurstFilter" type="BurstFilterType"/>
                    <xs:element name="DynamicThresholdFilter" type="DynamicThresholdFilterType"/>
                    <xs:element name="MapFilter" type="MapFilterType"/>
                    <xs:element name="MarkerFilter" type="MarkerFilterType"/>
                    <xs:element name="RegexFilter" type="RegexFilterType"/>
                    <xs:element name="ScriptFilter" type="ScriptFilterType"/>
                    <xs:element name="StructuredDataFilter" type="StructuredDataFilterType"/>
                    <xs:element name="ThreadContextMapFilter" type="ThreadContextMapFilterType"/>
                    <xs:element name="ThresholdFilter" type="ThresholdFilterType"/>
                    <xs:element name="TimeFilter" type="TimeFilterType"/>
                </xs:choice>
            </xs:choice>
        </xs:sequence>
        <xs:attribute name="name" type="xs:string" use="required"/>
        <xs:attribute name="bufferSize" type="xs:integer" use="optional"/>
        <xs:attribute name="entityClassName" type="xs:string" use="required"/>
        <xs:attribute name="persistenceUnitName" type="xs:string" use="required"/>
        <xs:attribute name="ignoreExceptions" type="xs:boolean" use="optional"/>
    </xs:complexType>
    <!--KafkaAppender type-->
    <xs:complexType name="KafkaAppenderType">
        <xs:sequence>
            <xs:choice minOccurs="0" maxOccurs="1">
                <xs:sequence>
                    <xs:element name="Filters" type="FiltersType" minOccurs="0" maxOccurs="1"/>
                </xs:sequence>
                <xs:choice minOccurs="0" maxOccurs="1">
                    <xs:element name="BurstFilter" type="BurstFilterType"/>
                    <xs:element name="DynamicThresholdFilter" type="DynamicThresholdFilterType"/>
                    <xs:element name="MapFilter" type="MapFilterType"/>
                    <xs:element name="MarkerFilter" type="MarkerFilterType"/>
                    <xs:element name="RegexFilter" type="RegexFilterType"/>
                    <xs:element name="ScriptFilter" type="ScriptFilterType"/>
                    <xs:element name="StructuredDataFilter" type="StructuredDataFilterType"/>
                    <xs:element name="ThreadContextMapFilter" type="ThreadContextMapFilterType"/>
                    <xs:element name="ThresholdFilter" type="ThresholdFilterType"/>
                    <xs:element name="TimeFilter" type="TimeFilterType"/>
                </xs:choice>
            </xs:choice>
            <xs:choice minOccurs="0" maxOccurs="1">
                <xs:element name="GelfLayout" type="GelfLayoutType"/>
                <xs:element name="HTMLLayout" type="HTMLLayoutType"/>
                <xs:element name="JSONLayout" type="JSONLayoutType"/>
                <xs:element name="PatternLayout" type="PatternLayoutType"/>
                <xs:element name="RFC5424Layout" type="RFC5424LayoutType"/>
                <xs:element name="SyslogLayout" type="SyslogLayoutType"/>
                <xs:element name="XMLLayout" type="XMLLayoutType"/>
            </xs:choice>
            <xs:element name="Property" type="PropertyType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="name" type="xs:string" use="required"/>
        <xs:attribute name="topic" type="xs:string" use="required"/>
        <xs:attribute name="ignoreExceptions" type="xs:boolean" use="optional"/>
    </xs:complexType>
    <!--MemoryMappedFileAppender type-->
    <xs:complexType name="MemoryMappedFileAppenderType">
        <xs:sequence>
            <xs:choice minOccurs="0" maxOccurs="1">
                <xs:sequence>
                    <xs:element name="Filters" type="FiltersType" minOccurs="0" maxOccurs="1"/>
                </xs:sequence>
                <xs:choice minOccurs="0" maxOccurs="1">
                    <xs:element name="BurstFilter" type="BurstFilterType"/>
                    <xs:element name="DynamicThresholdFilter" type="DynamicThresholdFilterType"/>
                    <xs:element name="MapFilter" type="MapFilterType"/>
                    <xs:element name="MarkerFilter" type="MarkerFilterType"/>
                    <xs:element name="RegexFilter" type="RegexFilterType"/>
                    <xs:element name="ScriptFilter" type="ScriptFilterType"/>
                    <xs:element name="StructuredDataFilter" type="StructuredDataFilterType"/>
                    <xs:element name="ThreadContextMapFilter" type="ThreadContextMapFilterType"/>
                    <xs:element name="ThresholdFilter" type="ThresholdFilterType"/>
                    <xs:element name="TimeFilter" type="TimeFilterType"/>
                </xs:choice>
            </xs:choice>
            <xs:choice minOccurs="0" maxOccurs="1">
                <xs:element name="GelfLayout" type="GelfLayoutType"/>
                <xs:element name="HTMLLayout" type="HTMLLayoutType"/>
                <xs:element name="JSONLayout" type="JSONLayoutType"/>
                <xs:element name="PatternLayout" type="PatternLayoutType"/>
                <xs:element name="RFC5424Layout" type="RFC5424LayoutType"/>
                <xs:element name="SyslogLayout" type="SyslogLayoutType"/>
                <xs:element name="XMLLayout" type="XMLLayoutType"/>
            </xs:choice>
        </xs:sequence>
        <xs:attribute name="name" type="xs:string" use="required"/>
        <xs:attribute name="fileName" type="xs:string" use="required"/>
        <xs:attribute name="append" type="xs:boolean" use="optional"/>
        <xs:attribute name="ignoreExceptions" type="xs:boolean" use="optional"/>
        <xs:attribute name="immediateFlush" type="xs:boolean" use="optional"/>
        <xs:attribute name="regionLength" type="xs:integer" use="optional"/>
    </xs:complexType>
    <!--NoSQLAppender-->
    <xs:complexType name="NoSQLAppenderType">
        <xs:sequence>
            <xs:choice minOccurs="0" maxOccurs="1">
                <xs:sequence>
                    <xs:element name="Filters" type="FiltersType" minOccurs="0" maxOccurs="1"/>
                </xs:sequence>
                <xs:choice minOccurs="0" maxOccurs="1">
                    <xs:element name="BurstFilter" type="BurstFilterType"/>
                    <xs:element name="DynamicThresholdFilter" type="DynamicThresholdFilterType"/>
                    <xs:element name="MapFilter" type="MapFilterType"/>
                    <xs:element name="MarkerFilter" type="MarkerFilterType"/>
                    <xs:element name="RegexFilter" type="RegexFilterType"/>
                    <xs:element name="ScriptFilter" type="ScriptFilterType"/>
                    <xs:element name="StructuredDataFilter" type="StructuredDataFilterType"/>
                    <xs:element name="ThreadContextMapFilter" type="ThreadContextMapFilterType"/>
                    <xs:element name="ThresholdFilter" type="ThresholdFilterType"/>
                    <xs:element name="TimeFilter" type="TimeFilterType"/>
                </xs:choice>
            </xs:choice>
            <xs:choice>
                <xs:element name="MongoDb" type="MongoDbProviderType"/>
                <xs:element name="CouchDb" type="CouchDbProviderType"/>
            </xs:choice>
        </xs:sequence>
        <xs:attribute name="name" type="xs:string" use="required"/>
        <xs:attribute name="bufferSize" type="xs:integer" use="optional"/>
        <xs:attribute name="ignoreExceptions" type="xs:integer" use="optional"/> 
    </xs:complexType>
    <!--RandomAccessFileAppender type-->
    <xs:complexType name="RandomAccessFileAppenderType">
        <xs:sequence>
            <xs:choice minOccurs="0" maxOccurs="1">
                <xs:sequence>
                    <xs:element name="Filters" type="FiltersType" minOccurs="0" maxOccurs="1"/>
                </xs:sequence>
                <xs:choice minOccurs="0" maxOccurs="1">
                    <xs:element name="BurstFilter" type="BurstFilterType"/>
                    <xs:element name="DynamicThresholdFilter" type="DynamicThresholdFilterType"/>
                    <xs:element name="MapFilter" type="MapFilterType"/>
                    <xs:element name="MarkerFilter" type="MarkerFilterType"/>
                    <xs:element name="RegexFilter" type="RegexFilterType"/>
                    <xs:element name="ScriptFilter" type="ScriptFilterType"/>
                    <xs:element name="StructuredDataFilter" type="StructuredDataFilterType"/>
                    <xs:element name="ThreadContextMapFilter" type="ThreadContextMapFilterType"/>
                    <xs:element name="ThresholdFilter" type="ThresholdFilterType"/>
                    <xs:element name="TimeFilter" type="TimeFilterType"/>
                </xs:choice>
            </xs:choice>
            <xs:choice minOccurs="0" maxOccurs="1">
                <xs:element name="GelfLayout" type="GelfLayoutType"/>
                <xs:element name="HTMLLayout" type="HTMLLayoutType"/>
                <xs:element name="JSONLayout" type="JSONLayoutType"/>
                <xs:element name="PatternLayout" type="PatternLayoutType"/>
                <xs:element name="RFC5424Layout" type="RFC5424LayoutType"/>
                <xs:element name="SyslogLayout" type="SyslogLayoutType"/>
                <xs:element name="XMLLayout" type="XMLLayoutType"/>
            </xs:choice>
        </xs:sequence>
        <xs:attribute name="name" type="xs:string" use="required"/>
        <xs:attribute name="fileName" type="xs:string" use="required"/>
        <xs:attribute name="append" type="xs:boolean" use="optional"/>
        <xs:attribute name="ignoreExceptions" type="xs:boolean" use="optional"/>
        <xs:attribute name="immediateFlush" type="xs:boolean" use="optional"/>
        <xs:attribute name="bufferSize" type="xs:integer" use="optional"/>
    </xs:complexType>
    <!--RewriteAppender type-->
    <xs:complexType name="RewriteAppenderType">
        <xs:sequence>
            <xs:choice minOccurs="0" maxOccurs="1">
                <xs:sequence>
                    <xs:element name="Filters" type="FiltersType" minOccurs="0" maxOccurs="1"/>
                </xs:sequence>
                <xs:choice minOccurs="0" maxOccurs="1">
                    <xs:element name="BurstFilter" type="BurstFilterType"/>
                    <xs:element name="DynamicThresholdFilter" type="DynamicThresholdFilterType"/>
                    <xs:element name="MapFilter" type="MapFilterType"/>
                    <xs:element name="MarkerFilter" type="MarkerFilterType"/>
                    <xs:element name="RegexFilter" type="RegexFilterType"/>
                    <xs:element name="ScriptFilter" type="ScriptFilterType"/>
                    <xs:element name="StructuredDataFilter" type="StructuredDataFilterType"/>
                    <xs:element name="ThreadContextMapFilter" type="ThreadContextMapFilterType"/>
                    <xs:element name="ThresholdFilter" type="ThresholdFilterType"/>
                    <xs:element name="TimeFilter" type="TimeFilterType"/>
                </xs:choice>
            </xs:choice>
            <xs:element name="AppenderRef" type="AppenderRefType"/>
            <xs:choice>
                <xs:element name="MapRewritePolicy" type="MapRewritePolicyType"/>
                <xs:element name="PropertiesRewritePolicy" type="PropertiesRewritePolicyType"/>
                <xs:element name="LoggerNameLevelRewritePolicy" type="LoggerNameLevelRewritePolicy"/>
            </xs:choice>
        </xs:sequence>
        <xs:attribute name="name" type="xs:string" use="required"/>
        <xs:attribute name="ignoreExceptions" type="xs:boolean" use="optional"/>
    </xs:complexType>
    <!--RollingFileAppender type-->
    <xs:complexType name="RolingFileAppenderType">
        <xs:sequence>
            <xs:choice minOccurs="0" maxOccurs="1">
                <xs:sequence>
                    <xs:element name="Filters" type="FiltersType" minOccurs="0" maxOccurs="1"/>
                </xs:sequence>
                <xs:choice minOccurs="0" maxOccurs="1">
                    <xs:element name="BurstFilter" type="BurstFilterType"/>
                    <xs:element name="DynamicThresholdFilter" type="DynamicThresholdFilterType"/>
                    <xs:element name="MapFilter" type="MapFilterType"/>
                    <xs:element name="MarkerFilter" type="MarkerFilterType"/>
                    <xs:element name="RegexFilter" type="RegexFilterType"/>
                    <xs:element name="ScriptFilter" type="ScriptFilterType"/>
                    <xs:element name="StructuredDataFilter" type="StructuredDataFilterType"/>
                    <xs:element name="ThreadContextMapFilter" type="ThreadContextMapFilterType"/>
                    <xs:element name="ThresholdFilter" type="ThresholdFilterType"/>
                    <xs:element name="TimeFilter" type="TimeFilterType"/>
                </xs:choice>
            </xs:choice>
            <xs:choice minOccurs="0" maxOccurs="1">
                <xs:element name="GelfLayout" type="GelfLayoutType"/>
                <xs:element name="HTMLLayout" type="HTMLLayoutType"/>
                <xs:element name="JSONLayout" type="JSONLayoutType"/>
                <xs:element name="PatternLayout" type="PatternLayoutType"/>
                <xs:element name="RFC5424Layout" type="RFC5424LayoutType"/>
                <xs:element name="SyslogLayout" type="SyslogLayoutType"/>
                <xs:element name="XMLLayout" type="XMLLayoutType"/>
            </xs:choice>
            <xs:element name="Policies" type="RollingFilePoliciesType"/>
            <xs:element name="DefaultRolloverStrategy" type="DefaultRolloverStrategyType"/>
        </xs:sequence>
        <xs:attribute name="name" type="xs:string" use="required"/>
        <xs:attribute name="fileName" type="xs:string" use="required"/>
        <xs:attribute name="append" type="xs:boolean" use="optional"/>
        <xs:attribute name="bufferedIO" type="xs:boolean" use="optional"/>
        <xs:attribute name="bufferSize" type="xs:integer" use="optional"/>
        <xs:attribute name="immediateFlush" type="xs:boolean" use="optional"/>
        <xs:attribute name="ignoreExceptions" type="xs:boolean" use="optional"/>
        <xs:attribute name="filePattern" type="xs:string" use="optional"/>
    </xs:complexType>
    <!--SocketAppender type-->
    <xs:complexType name="SocketAppenderType">
        <xs:sequence>
            <xs:choice minOccurs="0" maxOccurs="1">
                <xs:sequence>
                    <xs:element name="Filters" type="FiltersType" minOccurs="0" maxOccurs="1"/>
                </xs:sequence>
                <xs:choice minOccurs="0" maxOccurs="1">
                    <xs:element name="BurstFilter" type="BurstFilterType"/>
                    <xs:element name="DynamicThresholdFilter" type="DynamicThresholdFilterType"/>
                    <xs:element name="MapFilter" type="MapFilterType"/>
                    <xs:element name="MarkerFilter" type="MarkerFilterType"/>
                    <xs:element name="RegexFilter" type="RegexFilterType"/>
                    <xs:element name="ScriptFilter" type="ScriptFilterType"/>
                    <xs:element name="StructuredDataFilter" type="StructuredDataFilterType"/>
                    <xs:element name="ThreadContextMapFilter" type="ThreadContextMapFilterType"/>
                    <xs:element name="ThresholdFilter" type="ThresholdFilterType"/>
                    <xs:element name="TimeFilter" type="TimeFilterType"/>
                </xs:choice>
            </xs:choice>
            <xs:choice minOccurs="0" maxOccurs="1">
                <xs:element name="GelfLayout" type="GelfLayoutType"/>
                <xs:element name="HTMLLayout" type="HTMLLayoutType"/>
                <xs:element name="JSONLayout" type="JSONLayoutType"/>
                <xs:element name="PatternLayout" type="PatternLayoutType"/>
                <xs:element name="RFC5424Layout" type="RFC5424LayoutType"/>
                <xs:element name="SyslogLayout" type="SyslogLayoutType"/>
                <xs:element name="XMLLayout" type="XMLLayoutType"/>
            </xs:choice>
            <xs:element name="SSL" type="SSLType" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
        <xs:attribute name="name" type="xs:string" use="required"/>
        <xs:attribute name="host" type="xs:string" use="required"/>
        <xs:attribute name="port" type="xs:integer" use="required"/>
        <xs:attribute name="protocol" use="optional">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="TCP"/>
                    <xs:enumeration value="SSL"/>
                    <xs:enumeration value="UDP"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="immediateFail" type="xs:boolean" use="optional"/>
        <xs:attribute name="immediateFlush" type="xs:boolean" use="optional"/>
        <xs:attribute name="reconnectionDelayMillis" type="xs:integer" use="optional"/>
        <xs:attribute name="connectionTimeoutMillis" type="xs:integer" use="optional"/>
        <xs:attribute name="ignoreExceptions" type="xs:boolean" use="optional"/>
    </xs:complexType>
    <!--SMTPAppender type-->
    <xs:complexType name="STMPAppenderType">
        <xs:sequence>
            <xs:choice minOccurs="0" maxOccurs="1">
                <xs:sequence>
                    <xs:element name="Filters" type="FiltersType" minOccurs="0" maxOccurs="1"/>
                </xs:sequence>
                <xs:choice minOccurs="0" maxOccurs="1">
                    <xs:element name="BurstFilter" type="BurstFilterType"/>
                    <xs:element name="DynamicThresholdFilter" type="DynamicThresholdFilterType"/>
                    <xs:element name="MapFilter" type="MapFilterType"/>
                    <xs:element name="MarkerFilter" type="MarkerFilterType"/>
                    <xs:element name="RegexFilter" type="RegexFilterType"/>
                    <xs:element name="ScriptFilter" type="ScriptFilterType"/>
                    <xs:element name="StructuredDataFilter" type="StructuredDataFilterType"/>
                    <xs:element name="ThreadContextMapFilter" type="ThreadContextMapFilterType"/>
                    <xs:element name="ThresholdFilter" type="ThresholdFilterType"/>
                    <xs:element name="TimeFilter" type="TimeFilterType"/>
                </xs:choice>
            </xs:choice>
            <xs:choice minOccurs="0" maxOccurs="1">
                <xs:element name="GelfLayout" type="GelfLayoutType"/>
                <xs:element name="HTMLLayout" type="HTMLLayoutType"/>
                <xs:element name="JSONLayout" type="JSONLayoutType"/>
                <xs:element name="PatternLayout" type="PatternLayoutType"/>
                <xs:element name="RFC5424Layout" type="RFC5424LayoutType"/>
                <xs:element name="SyslogLayout" type="SyslogLayoutType"/>
                <xs:element name="XMLLayout" type="XMLLayoutType"/>
            </xs:choice>
        </xs:sequence>
        <xs:attribute name="bcc" type="xs:string" use="optional"/>
        <xs:attribute name="cc" type="xs:string" use="optional"/>
        <xs:attribute name="bufferSize" type="xs:integer" use="optional"/>
        <xs:attribute name="from" type="xs:string" use="optional"/>
        <xs:attribute name="name" type="xs:string" use="required"/>
        <xs:attribute name="replyTo" type="xs:string" use="optional"/>
        <xs:attribute name="smtpDebug" type="xs:boolean" use="optional"/>
        <xs:attribute name="smtpHost" type="xs:string" use="required"/>
        <xs:attribute name="smtpPassword" type="xs:string" use="required"/>
        <xs:attribute name="smtpPort" type="xs:string" use="required"/>
        <xs:attribute name="smtpProtocol" type="xs:string" use="optional"/>
        <xs:attribute name="smtpUsername" type="xs:string" use="required"/>
        <xs:attribute name="ignoreExceptions" type="xs:boolean" use="optional"/>
        <xs:attribute name="to" type="xs:string" use="optional"/>
    </xs:complexType>
    <!--SyslogAppender type-->
    <xs:complexType name="SyslogAppenderType">
        <xs:sequence>
            <xs:choice minOccurs="0" maxOccurs="1">
                <xs:sequence>
                    <xs:element name="Filters" type="FiltersType" minOccurs="0" maxOccurs="1"/>
                </xs:sequence>
                <xs:choice minOccurs="0" maxOccurs="1">
                    <xs:element name="BurstFilter" type="BurstFilterType"/>
                    <xs:element name="DynamicThresholdFilter" type="DynamicThresholdFilterType"/>
                    <xs:element name="MapFilter" type="MapFilterType"/>
                    <xs:element name="MarkerFilter" type="MarkerFilterType"/>
                    <xs:element name="RegexFilter" type="RegexFilterType"/>
                    <xs:element name="ScriptFilter" type="ScriptFilterType"/>
                    <xs:element name="StructuredDataFilter" type="StructuredDataFilterType"/>
                    <xs:element name="ThreadContextMapFilter" type="ThreadContextMapFilterType"/>
                    <xs:element name="ThresholdFilter" type="ThresholdFilterType"/>
                    <xs:element name="TimeFilter" type="TimeFilterType"/>
                </xs:choice>
            </xs:choice>
            <xs:element name="LoggerFields" type="LoggerFieldsType"/>
            <xs:element name="SSL" type="SSLType" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
        <xs:attribute name="advertise" type="xs:boolean" use="optional"/>
        <xs:attribute name="appName" type="xs:string" use="optional"/>
        <xs:attribute name="charset" type="xs:string" use="optional"/>
        <xs:attribute name="connectTimeoutMillis" type="xs:integer" use="optional"/>
        <xs:attribute name="enterpriseNumber" type="xs:integer" use="optional"/>
        <xs:attribute name="facility" type="FacilityType" use="optional"/>
        <xs:attribute name="format" type="xs:string" use="optional"/>
        <xs:attribute name="host" type="xs:string" use="required"/>
        <xs:attribute name="id" type="xs:string" use="optional"/>
        <xs:attribute name="ignoreExceptions" type="xs:boolean" use="optional"/>
        <xs:attribute name="immediateFail" type="xs:boolean" use="optional"/>
        <xs:attribute name="immediateFlush" type="xs:boolean" use="optional"/>
        <xs:attribute name="includeMDC" type="xs:boolean" use="optional"/>
        <xs:attribute name="mdcExcludes" type="xs:string" use="optional"/>
        <xs:attribute name="mdcIncludes" type="xs:string" use="optional"/>
        <xs:attribute name="mdcRequired" type="xs:string" use="optional"/>
        <xs:attribute name="mdcPrefix" type="xs:string" use="optional"/>
        <xs:attribute name="messageId" type="xs:string" use="optional"/>
        <xs:attribute name="name" type="xs:string" use="required"/>
        <xs:attribute name="newLine" type="xs:boolean" use="optional"/>
        <xs:attribute name="port" type="xs:integer" use="required"/>
        <xs:attribute name="protocol" use="required">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="TCP"/>
                    <xs:enumeration value="UDP"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="reconnectionDelayMillis" type="xs:integer" use="optional"/>
    </xs:complexType>
    <!--ZeroMQ/JeroMQ appender-->
    <xs:complexType name="JeroMQAppenderType">
    	<xs:sequence>
            <xs:choice minOccurs="0" maxOccurs="1">
                <xs:sequence>
                    <xs:element name="Filters" type="FiltersType" minOccurs="0" maxOccurs="1"/>
                </xs:sequence>
                <xs:choice minOccurs="0" maxOccurs="1">
                    <xs:element name="BurstFilter" type="BurstFilterType"/>
                    <xs:element name="DynamicThresholdFilter" type="DynamicThresholdFilterType"/>
                    <xs:element name="MapFilter" type="MapFilterType"/>
                    <xs:element name="MarkerFilter" type="MarkerFilterType"/>
                    <xs:element name="RegexFilter" type="RegexFilterType"/>
                    <xs:element name="ScriptFilter" type="ScriptFilterType"/>
                    <xs:element name="StructuredDataFilter" type="StructuredDataFilterType"/>
                    <xs:element name="ThreadContextMapFilter" type="ThreadContextMapFilterType"/>
                    <xs:element name="ThresholdFilter" type="ThresholdFilterType"/>
                    <xs:element name="TimeFilter" type="TimeFilterType"/>
                </xs:choice>
            </xs:choice>
            <xs:choice minOccurs="0" maxOccurs="1">
                <xs:element name="GelfLayout" type="GelfLayoutType"/>
                <xs:element name="HTMLLayout" type="HTMLLayoutType"/>
                <xs:element name="JSONLayout" type="JSONLayoutType"/>
                <xs:element name="PatternLayout" type="PatternLayoutType"/>
                <xs:element name="RFC5424Layout" type="RFC5424LayoutType"/>
                <xs:element name="SyslogLayout" type="SyslogLayoutType"/>
                <xs:element name="XMLLayout" type="XMLLayoutType"/>
            </xs:choice>
            <xs:element name="Properties" type="PropertiesType" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
        <xs:attribute name="name" type="xs:string" use="required"/>
        <xs:attribute name="ignoreExceptions" type="xs:boolean" use="optional"/>
        <xs:attribute name="affinity" type="xs:long" use="optional"/>
        <xs:attribute name="backlog" type="xs:long" use="optional"/>
        <xs:attribute name="delayAttachOnConnect" type="boolean" use="optional"/>
        <xs:attribute name="ipv4Only" type="xs:boolean" use="optional"/>
        <xs:attribute name="linger" type="xs:long" use="optional"/>
        <xs:attribute name="maxMsgSize" type="xs:long" use="optional"/>
        <xs:attribute name="rcvHwm" type="xs:long" use="optional"/>
        <xs:attribute name="receiveBufferSize" type="xs:long" use="optional"/>
        <xs:attribute name="receiveTimeOut" type="xs:integer" use="optional"/>
        <xs:attribute name="reconnectIVL" type="xs:long" use="optional"/>
        <xs:attribute name="reconnectILVMax" type="xs:long" use="optional"/>
        <xs:attribute name="sendBufferSize" type="xs:long" use="optional"/>
        <xs:attribute name="sendTimeOut" type="xs:integer" use="optional"/>
        <xs:attribute name="sndHwm" type="xs:long" use="optional"/>
        <xs:attribute name="tcpKeepAlive" type="xs:integer" use="optional"/>
        <xs:attribute name="tcpKeepAliveCount" type="xs:long" use="optional"/>
        <xs:attribute name="tcpKeepAliveIdle" type="xs:long" use="optional"/>
        <xs:attribute name="tcpKeepAliveInterval" type="xs:long" use="optional"/>
        <xs:attribute name="xpubVerbose" type="xs:boolean" use="optional"/>
    </xs:complexType>
    <!--Filter types section-->
    <!--Composite filters group-->
    <xs:complexType name="FiltersType">
        <xs:sequence>
            <xs:element name="BurstFilter" type="BurstFilterType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="DynamicThresholdFilter" type="DynamicThresholdFilterType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="MapFilter" type="MapFilterType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="MarkerFilter" type="MarkerFilterType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="RegexFilter" type="RegexFilterType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="ScriptFilter" type="ScriptFilterType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="StructuredDataFilter" type="StructuredDataFilterType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="ThreadContextMapFilter" type="ThreadContextMapFilterType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="ThresholdFilter" type="ThresholdFilterType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="TimeFilter" type="TimeFilterType" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <!--BurstFilter type-->
    <xs:complexType name="BurstFilterType">
        <xs:attribute name="level" type="xs:string" use="required"/>
        <xs:attribute name="rate" type="xs:float" use="required"/>
        <xs:attribute name="maxBurst" type="xs:integer" use="required"/>
        <xs:attribute name="onMatch" type="MatchMismatch" use="optional"/>
        <xs:attribute name="onMismatch" type="MatchMismatch" use="optional"/>
    </xs:complexType>
    <!--DynamicThresholdFilter type-->
    <xs:complexType name="DynamicThresholdFilterType">
        <xs:sequence>
            <xs:element name="keyValuePair" type="KeyValuePairType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="defaultThreshold" type="xs:string" use="required"/>
        <xs:attribute name="onMatch" type="MatchMismatch" use="optional"/>
        <xs:attribute name="onMismatch" type="MatchMismatch" use="optional"/>
    </xs:complexType>
    <!--MapFilter type-->
    <xs:complexType name="MapFilterType">
        <xs:sequence>
            <xs:element name="keyValuePair" type="KeyValuePairType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="operator" type="xs:string" use="required"/>
        <xs:attribute name="onMatch" type="MatchMismatch" use="optional"/>
        <xs:attribute name="onMismatch" type="MatchMismatch" use="optional"/>
    </xs:complexType>
    <!--MarkerFilter type-->
    <xs:complexType name="MarkerFilterType">
        <xs:attribute name="marker" type="xs:string" use="required"/>
        <xs:attribute name="onMatch" type="MatchMismatch" use="optional"/>
        <xs:attribute name="onMismatch" type="MatchMismatch" use="optional"/>
    </xs:complexType>
    <!--RegexFilter type-->
    <xs:complexType name="RegexFilterType">
        <xs:attribute name="regex" type="xs:string" use="required"/>
        <xs:attribute name="useRawMsg" type="xs:boolean" use="optional"/>
        <xs:attribute name="onMatch" type="MatchMismatch" use="optional"/>
        <xs:attribute name="onMismatch" type="MatchMismatch" use="optional"/>
    </xs:complexType>
    <!--ScriptFilter type-->
    <xs:complexType name="ScriptFilterType">
        <xs:sequence>
            <xs:element name="Script" type="ScriptType" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="ScriptFile" type="ScriptFileType" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="ScriptRef" type="ScriptRefType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="onMatch" type="MatchMismatch" use="optional"/>
        <xs:attribute name="onMismatch" type="MatchMismatch" use="optional"/>
    </xs:complexType>
    <!--StructuredDataFilter type-->
    <xs:complexType name="StructuredDataFilterType">
        <xs:sequence>
            <xs:element name="keyValuePair" type="KeyValuePairType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="operator" type="xs:string" use="required"/>
        <xs:attribute name="onMatch" type="MatchMismatch" use="optional"/>
        <xs:attribute name="onMismatch" type="MatchMismatch" use="optional"/>
    </xs:complexType>
    <!--ThreadContextMapFilter type-->
    <xs:complexType name="ThreadContextMapFilterType">
        <xs:sequence>
            <xs:element name="KeyValuePair" type="KeyValuePairType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="operator" type="xs:string" use="optional"/>
        <xs:attribute name="onMatch" type="MatchMismatch" use="optional"/>
        <xs:attribute name="onMismatch" type="MatchMismatch" use="optional"/>
    </xs:complexType>
    <!--ThresholdFilter type-->
    <xs:complexType name="ThresholdFilterType">
        <xs:attribute name="level" type="xs:string" use="optional"/>
        <xs:attribute name="onMatch" type="MatchMismatch" use="optional"/>
        <xs:attribute name="onMismatch" type="MatchMismatch" use="optional"/>
    </xs:complexType>
    <!--TimeFilter type-->
    <xs:complexType name="TimeFilterType">
        <xs:attribute name="start" type="xs:string" use="optional"/>
        <xs:attribute name="end" type="xs:string" use="optional"/>
        <xs:attribute name="timezone" type="xs:string" use="optional"/>
        <xs:attribute name="onMatch" type="MatchMismatch" use="optional"/>
        <xs:attribute name="onMismatch" type="MatchMismatch" use="optional"/>
    </xs:complexType>
    <!--Layouts section-->
    <!--GelfLayout type-->
    <xs:complexType name="GelfLayoutType">
        <xs:sequence>
            <xs:element name="KeyValuePair" type="KeyValuePairType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="host" type="xs:string" use="required"/>
        <xs:attribute name="compressionType" type="CompressionTypeType" use="required"/>
        <xs:attribute name="CompressionThreshold" type="xs:integer" use="required"/>
        <xs:attribute name="includeStacktrace" type="xs:boolean" use="optional"/>
    </xs:complexType>
    <!--HTMLLayout type-->
    <xs:complexType name="HTMLLayoutType">
        <xs:attribute name="charset" type="xs:string" use="optional"/>
        <xs:attribute name="contentType" type="xs:string" use="optional"/>
        <xs:attribute name="locationInfo" type="xs:boolean" use="optional"/>
        <xs:attribute name="title" type="xs:string" use="optional"/>
    </xs:complexType>
    <!--JSONLayout type-->
    <xs:complexType name="JSONLayoutType">
        <xs:attribute name="charset" type="xs:string" use="optional"/>
        <xs:attribute name="compact" type="xs:boolean" use="optional"/>
        <xs:attribute name="eventEol" type="xs:boolean" use="optional"/>
        <xs:attribute name="complete" type="xs:boolean" use="optional"/>
        <xs:attribute name="properties" type="xs:boolean" use="optional"/>
        <xs:attribute name="propertisAsList" type="xs:boolean" use="optional"/>
        <xs:attribute name="locationInfo" type="xs:boolean" use="optional"/>
    </xs:complexType>
    <!--PatternLayout type-->
    <xs:complexType name="PatternLayoutType">
        <xs:sequence>
            <xs:element name="RegexReplacement" type="RegexReplacementType" minOccurs="0" maxOccurs="1"/>
            <xs:choice minOccurs="0" maxOccurs="1">
                <xs:element name="MarkerPatternSelector" type="MarkerPatternSelectorType"/>
                <xs:element name="ScriptPatternSelector" type="ScriptPatternSelectorType"/>
            </xs:choice>
        </xs:sequence>
        <xs:attribute name="charset" type="xs:string" use="optional"/>
        <xs:attribute name="pattern" type="xs:string" use="required"/>
        <xs:attribute name="alwaysWriteExceptions" type="xs:boolean" use="optional"/>
        <xs:attribute name="header" type="xs:string" use="optional"/>
        <xs:attribute name="footer" type="xs:string" use="optional"/>
        <xs:attribute name="noConsoleNoAnsi" type="xs:boolean" use="optional"/>
    </xs:complexType>
    <!--RFC5424Layout type-->
    <xs:complexType name="RFC5424LayoutType">
        <xs:sequence>
            <xs:element name="LoggerFields" type="LoggerFieldsType"/>
        </xs:sequence>
        <xs:attribute name="appName" type="xs:string" use="required"/>
        <xs:attribute name="charset" type="xs:string" use="optional"/>
        <xs:attribute name="enterpriseNumber" type="xs:integer" use="required"/>
        <xs:attribute name="exceptionPattern" type="xs:string" use="optional"/>
        <xs:attribute name="facility" type="FacilityType" use="optional"/>
        <xs:attribute name="format" type="xs:string" use="optional"/>
        <xs:attribute name="id" type="xs:string" use="optional"/>
        <xs:attribute name="immediateFlush" type="xs:boolean" use="optional"/>
        <xs:attribute name="includeMDC" type="xs:boolean" use="optional"/>
        <xs:attribute name="mdcExcludes" type="xs:string" use="optional"/>
        <xs:attribute name="mdcIncludes" type="xs:string" use="optional"/>
        <xs:attribute name="mdcRequired" type="xs:string" use="optional"/>
        <xs:attribute name="mdcPrefix" type="xs:string" use="optional"/>
        <xs:attribute name="mdcId" type="xs:string" use="optional"/>
        <xs:attribute name="messageId" type="xs:string" use="optional"/>
        <xs:attribute name="newLine" type="xs:boolean" use="optional"/>
        <xs:attribute name="newLineEscape" type="xs:string" use="optional"/>
    </xs:complexType>
    <!--SyslogLayout-->
    <xs:complexType name="SyslogLayoutType">
        <xs:attribute name="charset" type="xs:string" use="optional"/>
        <xs:attribute name="facility" type="FacilityType" use="optional"/>
        <xs:attribute name="newLine" type="xs:boolean" use="optional"/>
        <xs:attribute name="newLineEscape" type="xs:string" use="optional"/>
    </xs:complexType>
    <!--XMLLayout type-->
    <xs:complexType name="XMLLayoutType">
        <xs:attribute name="charset" type="xs:string" use="optional"/>
        <xs:attribute name="compact" type="xs:boolean" use="optional"/>
        <xs:attribute name="complete" type="xs:boolean" use="optional"/>
        <xs:attribute name="properties" type="xs:boolean" use="optional"/>
        <xs:attribute name="locationInfo" type="xs:boolean" use="optional"/>
    </xs:complexType>
    <!--Logger types section-->
    <!--Logger type-->
    <xs:complexType name="LoggersType">
        <xs:sequence>
            <xs:element name="Root" type="RootType"/>
            <xs:element name="Logger" type="LoggerType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <!--Misc types section-->
    <!--Agent type-->
    <xs:complexType name="AgentType">
        <xs:attribute name="host" type="xs:integer" use="required"/>
        <xs:attribute name="port" type="xs:integer" use="required"/>
    </xs:complexType>
    <!--AppenderRef type-->
    <xs:complexType name="AppenderRefType">
        <xs:attribute name="ref" type="xs:string"/>
    </xs:complexType>
    <!--CompressionType type-->
    <xs:simpleType name="CompressionTypeType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="GZIP"/>
            <xs:enumeration value="ZLIB"/>
            <xs:enumeration value="OFF"/>
        </xs:restriction>
    </xs:simpleType>
    <!--ConnectionFactory type for JDBC-->
    <xs:complexType name="ConnectionFactoryType">
        <xs:attribute name="class" type="xs:string" use="required"/>
        <xs:attribute name="method" type="xs:string" use="required"/>
    </xs:complexType>
    <!--Column type for JDBC-->
    <xs:complexType name="ColumnType">
        <xs:attribute name="name" type="xs:string" use="required"/>
        <xs:attribute name="pattern" type="xs:string" use="optional"/>
        <xs:attribute name="literal" type="xs:string" use="optional"/>
        <xs:attribute name="isEventTimestamp" type="xs:boolean" use="optional"/>
        <xs:attribute name="isUnicode" type="xs:boolean" use="optional"/>
        <xs:attribute name="isClob" type="xs:boolean" use="optional"/>
    </xs:complexType>
    <!--CouchDbProvider type for NoSQLAppender-->
    <xs:complexType name="CouchDbProviderType">
        <xs:attribute name="factoryClassName" type="xs:string" use="optional"/>
        <xs:attribute name="factoryMethodName" type="xs:string" use="optional"/>
        <xs:attribute name="databaseName" type="xs:string" use="optional"/>
        <xs:attribute name="protocol">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="http"/>
                    <xs:enumeration value="https"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="server" type="xs:string" use="optional"/>
        <xs:attribute name="port" type="xs:string" use="optional"/>
        <xs:attribute name="username" type="xs:string" use="optional"/>
        <xs:attribute name="password" type="xs:string" use="optional"/>
    </xs:complexType>
    <!--CustomLevels type-->
    <xs:complexType name="CustomLevelsType">
        <xs:sequence>
            <xs:element name="CustomLevel" type="CustomLevelType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CustomLevelType">
        <xs:attribute name="name" type="xs:string"/>
        <xs:attribute name="intLevel" type="xs:integer"/>
    </xs:complexType>
    <!--DataSource type for JDBC-->
    <xs:complexType name="DataSourceType">
        <xs:attribute name="jndiName" type="xs:string" use="required"/>
    </xs:complexType>
    <!--DefaultRolloverStrategy for RollingFileAppender-->
    <xs:complexType name="DefaultRolloverStrategyType">
        <xs:sequence>
            <xs:element name="Delete" type="DeleteType"/>
        </xs:sequence>
        <xs:attribute name="fileIndex" type="xs:string" use="optional"/>
        <xs:attribute name="min" type="xs:integer" use="optional"/>
        <xs:attribute name="max" type="xs:integer" use="optional"/>
        <xs:attribute name="compressionLevel" type="xs:integer" use="optional"/>
    </xs:complexType>
    <!--Delete type for DefaultRolloverStrategy-->
    <xs:complexType name="DeleteType">
        <xs:choice>
            <xs:element name="ScriptCondition" type="ScriptConditionType"/>
            <xs:sequence>
                <xs:element name="ifFileName" type="ifFileNameType"/>
                <xs:element name="ifLastModified" type="ifLastModifiedType"/>
            </xs:sequence>
        </xs:choice>
        <xs:attribute name="basePath" type="xs:string" use="required"/>
        <xs:attribute name="maxDepth" type="xs:integer" use="optional"/>
        <xs:attribute name="followLinks" type="xs:boolean" use="optional"/>
        <xs:attribute name="testMode" type="xs:boolean" use="optional"/>
    </xs:complexType>
    <!--Enumeration of values for Facility attribute of RFC5424Layout-->
    <xs:simpleType name="FacilityType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="KERN"/>
            <xs:enumeration value="USER"/>
            <xs:enumeration value="MAIL"/>
            <xs:enumeration value="DAEMON"/>
            <xs:enumeration value="AUTH"/>
            <xs:enumeration value="SYSLOG"/>
            <xs:enumeration value="LPR"/>
            <xs:enumeration value="NEWS"/>
            <xs:enumeration value="UUPC"/>
            <xs:enumeration value="CRON"/>
            <xs:enumeration value="AUTHPRIV"/>
            <xs:enumeration value="FTP"/>
            <xs:enumeration value="NTP"/>
            <xs:enumeration value="AUDIT"/>
            <xs:enumeration value="ALERT"/>
            <xs:enumeration value="CLOCK"/>
            <xs:enumeration value="LOCAL0"/>
            <xs:enumeration value="LOCAL1"/>
            <xs:enumeration value="LOCAL2"/>
            <xs:enumeration value="LOCAL3"/>
            <xs:enumeration value="LOCAL4"/>
            <xs:enumeration value="LOCAL5"/>
            <xs:enumeration value="LOCAL6"/>
            <xs:enumeration value="LOCAL7"/>
        </xs:restriction>
    </xs:simpleType>
    <!--Failovers type-->
    <xs:complexType name="FailoversType">
        <xs:sequence>
            <xs:element name="AppenderRef" type="AppenderRefType" minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <!--Flumetype type-->
    <xs:simpleType name="FlumetypeType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Avro"/>
            <xs:enumeration value="Embedded"/>
            <xs:enumeration value="Persistent"/>
        </xs:restriction>
    </xs:simpleType>
    <!--IfFIleName condition type for DeleteType-->
    <xs:complexType name="ifFileNameType">
        <xs:attribute name="glob" type="xs:string" use="optional"/>
        <xs:attribute name="regex" type="xs:string" use="optional"/>
    </xs:complexType>
    <!--IfLastModified condition type for DeleteType-->
    <xs:complexType name="ifLastModifiedType">
        <xs:attribute name="age" type="xs:string" use="optional"/>
    </xs:complexType>
    <!--KeyValuePair-->
    <xs:complexType name="KeyValuePairType">
        <xs:attribute name="key" type="xs:string" use="required"/>
        <xs:attribute name="value" type="xs:string" use="required"/>
    </xs:complexType>
    <!--Looger type-->
    <xs:complexType name="LoggerType">
        <xs:sequence>
            <xs:choice minOccurs="0" maxOccurs="1">
                <xs:sequence>
                    <xs:element name="Filters" type="FiltersType" minOccurs="0" maxOccurs="1"/>
                </xs:sequence>
                <xs:choice minOccurs="0" maxOccurs="1">
                    <xs:element name="BurstFilter" type="BurstFilterType"/>
                    <xs:element name="DynamicThresholdFilter" type="DynamicThresholdFilterType"/>
                    <xs:element name="MapFilter" type="MapFilterType"/>
                    <xs:element name="MarkerFilter" type="MarkerFilterType"/>
                    <xs:element name="RegexFilter" type="RegexFilterType"/>
                    <xs:element name="ScriptFilter" type="ScriptFilterType"/>
                    <xs:element name="StructuredDataFilter" type="StructuredDataFilterType"/>
                    <xs:element name="ThreadContextMapFilter" type="ThreadContextMapFilterType"/>
                    <xs:element name="ThresholdFilter" type="ThresholdFilterType"/>
                    <xs:element name="TimeFilter" type="TimeFilterType"/>
                </xs:choice>
            </xs:choice>
            <xs:element name="AppenderRef" type="AppenderRefType"/>
        </xs:sequence>
        <xs:attribute name="name" type="xs:string" use="required"/>
        <xs:attribute name="level" type="xs:string" use="required"/>
    </xs:complexType>
    <!--LoggerFields type-->
    <xs:complexType name="LoggerFieldsType">
        <xs:sequence>
            <xs:element name="KeyValuePair" type="KeyValuePairType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <!--LoggerNameLevelRewritePolicy-->
    <xs:complexType name="LoggerNameLevelRewritePolicy">
        <xs:sequence>
            <xs:element name="KeyValuePair" type="KeyValuePairType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="loggerName" type="xs:string" use="required"/>
    </xs:complexType>
    <!--MapRewritePolicy for RewriteAppender-->
    <xs:complexType name="MapRewritePolicyType">
        <xs:sequence>
            <xs:element name="KeyValuePair" type="KeyValuePairType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="mode">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="Add"/>
                    <xs:enumeration value="Update"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
    </xs:complexType>
    <!--MarkerPatternSelector type-->
    <xs:complexType name="MarkerPatternSelectorType">
        <xs:sequence>
            <xs:element name="PatternMatch" type="PatternMatchType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="defaultPattern" type="xs:string" use="required"/>
    </xs:complexType>
    <!--MongoDbProvider type for NoSQLAppender-->
    <xs:complexType name="MongoDbProviderType">
        <xs:attribute name="collectionName" type="xs:string" use="required"/>
        <xs:attribute name="writeConcernConstant" type="xs:string" use="optional"/>
        <xs:attribute name="writeConcernConstantClass" type="xs:string" use="optional"/>
        <xs:attribute name="factoryClassName" type="xs:string" use="optional"/>
        <xs:attribute name="factoryMethodName" type="xs:string" use="optional"/>
        <xs:attribute name="databaseName" type="xs:string" use="optional"/>
        <xs:attribute name="server" type="xs:string" use="optional"/>
        <xs:attribute name="port" type="xs:string" use="optional"/>
        <xs:attribute name="username" type="xs:string" use="optional"/>
        <xs:attribute name="password" type="xs:string" use="optional"/>
    </xs:complexType>
    <!--onMatch/onMismatch type-->
    <xs:simpleType name="MatchMismatch">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ACCEPT"/>
            <xs:enumeration value="NEUTRAL"/>
            <xs:enumeration value="DENY"/>
        </xs:restriction>
    </xs:simpleType>
    <!--PatternMatch type for MarkerPatternSelector of PatternLayout-->
    <xs:complexType name="PatternMatchType">
        <xs:attribute name="key" type="xs:string" use="required"/>
        <xs:attribute name="pattern" type="xs:string" use="required"/>
    </xs:complexType>
	<!--Properties group-->
    <xs:complexType name="PropertiesType">
        <xs:sequence>
            <xs:element name="Property" type="PropertyType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <!--PropertiesRewritePolicy for RewriteAppender-->
    <xs:complexType name="PropertiesRewritePolicyType">
        <xs:sequence>
            <xs:element name="Property" type="PropertyType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <!--RootType for loggers-->
	<xs:complexType name="RootType">
        <xs:sequence>
            <xs:choice minOccurs="0" maxOccurs="1">
                <xs:sequence>
                    <xs:element name="Filters" type="FiltersType" minOccurs="0" maxOccurs="1"/>
                </xs:sequence>
                <xs:choice minOccurs="0" maxOccurs="1">
                    <xs:element name="BurstFilter" type="BurstFilterType"/>
                    <xs:element name="DynamicThresholdFilter" type="DynamicThresholdFilterType"/>
                    <xs:element name="MapFilter" type="MapFilterType"/>
                    <xs:element name="MarkerFilter" type="MarkerFilterType"/>
                    <xs:element name="RegexFilter" type="RegexFilterType"/>
                    <xs:element name="ScriptFilter" type="ScriptFilterType"/>
                    <xs:element name="StructuredDataFilter" type="StructuredDataFilterType"/>
                    <xs:element name="ThreadContextMapFilter" type="ThreadContextMapFilterType"/>
                    <xs:element name="ThresholdFilter" type="ThresholdFilterType"/>
                    <xs:element name="TimeFilter" type="TimeFilterType"/>
                </xs:choice>
            </xs:choice>
            <xs:element name="AppenderRef" type="AppenderRefType"/>
        </xs:sequence>
        <xs:attribute name="level" type="xs:string" use="required"/>
    </xs:complexType>
	<!--Single Property type-->
    <xs:complexType name="PropertyType">
        <xs:attribute name="name" type="xs:string" use="required"/>
        <xs:attribute name="value" type="xs:string" use="required"/>
    </xs:complexType>
    <!--Script type-->
    <xs:complexType name="ScriptType">
        <xs:attribute name="name" type="xs:string" use="required"/>
        <xs:attribute name="language" type="xs:string" use="required"/>
    </xs:complexType>
    <!--ScriptPatternSelector type-->
    <xs:complexType name="ScriptPatternSelectorType">
        <xs:sequence>
            <xs:element name="Script" type="ScriptType"/>
        </xs:sequence>
        <xs:attribute name="defaultPattern" type="xs:string" use="required"/>
    </xs:complexType>
    <!--RegexReplacement type-->
    <xs:complexType name="RegexReplacementType">
        <xs:attribute name="regex" type="xs:string"/>
        <xs:attribute name="replacement" type="xs:string"/>
    </xs:complexType>
    <!--RollingFilePolicies type for RollingFileAppender-->
    <xs:complexType name="RollingFilePoliciesType">
        <xs:sequence>
            <xs:element name="CronTriggeringPolicy" minOccurs="0">
                <xs:complexType>
                    <xs:attribute name="schedule" type="xs:string" use="optional"/>
                    <xs:attribute name="evaluateOnStartup" type="xs:boolean" use="optional"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="OnStartupTriggeringPolicy" type="xs:string" minOccurs="0"/>
            <xs:element name="SizeBasedTriggeringPolicy" minOccurs="0">
                <xs:complexType>
                    <xs:attribute name="size" type="xs:string" use="required"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="TimeBasedTriggeringPolicy" minOccurs="0">
                <xs:complexType>
                    <xs:attribute name="interval" type="xs:integer"/>
                    <xs:attribute name="modulate" type="xs:boolean"/>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <!--ScriptCondition type for DeleteType-->
    <xs:complexType name="ScriptConditionType">
        <xs:choice>
            <xs:element name="Script" type="ScriptType"/>
            <xs:element name="ScriptFile" type="ScriptFileType"/>
            <xs:element name="ScriptRef" type="ScriptRefType"/>
        </xs:choice>
    </xs:complexType>
    <!--ScriptFile type-->
    <xs:complexType name="ScriptFileType">
        <xs:attribute name="name" type="xs:string" use="optional"/>
        <xs:attribute name="language" type="xs:string" use="optional"/>
        <xs:attribute name="path" type="xs:string" use="optional"/>
        <xs:attribute name="charset" type="xs:string" use="optional"/>
    </xs:complexType>
    <!--ScriptRef type-->
    <xs:complexType name="ScriptRefType">
        <xs:attribute name="ref" type="xs:string"/>
    </xs:complexType>
    <!--SSL type for SocketAppender-->
    <xs:complexType name="SSLType">
        <xs:sequence>
            <xs:element name="KeyStore">
                <xs:complexType>
                    <xs:attribute name="location" type="xs:string" use="required"/>
                    <xs:attribute name="password" type="xs:string" use="required"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="TrueStore">
                <xs:complexType>
                    <xs:attribute name="location" type="xs:string" use="required"/>
                    <xs:attribute name="password" type="xs:string" use="required"/>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <!--Enumeration for Target type within appenders-->
    <xs:simpleType name="TargetType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="SYSTEM_OUT"/>
            <xs:enumeration value="SYSTEM_ERR"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
